@import './variables.css';

.root {
	composes: mdc-list from '@material/list/dist/mdc.list.css';
}

.focused {}

.option {
	cursor: pointer;
	composes: mdc-list-item from '@material/list/dist/mdc.list.css';
}

.focused .activeOption,
.root:focus .activeOption {
	box-shadow: inset 0 0 1px 0 var(--component-background);
	outline: 4px auto var(--selected-background);
}
.disabledOption {
	composes: mdc-list-item--disabled from '@material/list/dist/mdc.list.css';
}
.selectedOption {
	composes: mdc-list-item--selected from '@material/list/dist/mdc.list.css';
}
