@import "./variables.css";

.root {
	composes: mdc-select from '@material/select/dist/mdc.select.css';
	overflow: visible;
}

.hasLeading {
	composes: mdc-select--with-leading-icon from '@material/select/dist/mdc.select.css';
}

.leading {
	composes: mdc-select__icon from '@material/select/dist/mdc.select.css';
}

.label {
	composes: mdc-floating-label from '@material/select/dist/mdc.select.css';
}

.labelHasValue {
	composes: mdc-floating-label--float-above from '@material/select/dist/mdc.select.css';
}

/* native input styles */
.input {
	composes: mdc-select__native-control from '@material/select/dist/mdc.select.css';
}

.arrow {
	composes: mdc-select__dropdown-icon from '@material/select/dist/mdc.select.css';
}

.disabled {
	composes: mdc-select--disabled from '@material/select/dist/mdc.select.css';
}

.invalid {
}
.selectInvalid {
	composes: mdc-select--invalid from '@material/select/dist/mdc.select.css';
}

.menu {
	composes: mdc-select__menu from '@material/select/dist/mdc.select.css';
	composes: mdc-menu from '@material/menu/dist/mdc.menu.css';
	composes: mdc-menu-surface from '@material/menu-surface/dist/mdc.menu-surface.css';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.menuOpen {
	composes: mdc-menu-surface--open from '@material/menu-surface/dist/mdc.menu-surface.css';
}

.enhancedFocused {
	composes: mdc-select--focused from '@material/select/dist/mdc.select.css';
}

.selectedText {
	composes: mdc-select__selected-text from '@material/select/dist/mdc.select.css';
}
