/* Put your styles and imports here */
body {
}

.flexRow {
	margin: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.columns {
	display: flex;
	align-items: flex-start;
}

.column {
}
